/**{
	border: 1px solid black;
}*/

#battle_menu{
	display: flex;
	height: 400px;
}

#tablero{
	width: 60%;
	height: 400px;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	/*background-image: url('../img/sand_texture.jpg');*/
	/*background-size: cover;*/
}

#act{
	width: 60%;
	height: 100%;
}

#shoot{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
}

#moves{
	display: flex;
	height: 20%;
	justify-content: center;
	align-items: center;
}

#up_down{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#chat{
	height: 59%;
}

#juego{
	/*border: 1px solid black;*/
	width: 100%;
	display: flex;
}

#juego>div>div{
	/*border: 1px solid green;*/
}

#juego>div{
	width: 100%;
}

#battle_menu, #shoot, #moves, #chat{
	border: 1px solid black;
}

#info{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.infotanque{
	border: 1px solid gray;
}